# Week 3 - Evaluating Toronto Neighborhoods
## Gary Netherton - July 4, 2020

In [2]:
# import required libraries
import pandas as pd
import numpy as np

In [3]:
# Use Pandas to scrape HTML table from Wikipedia; create a dataframe from results
data = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') # read Wikipedia page provided by Coursera
df = data[0]
print(df.shape)
df.head()

(180, 3)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
# Remove rows where the Borough has not been assigned
df=df[df['Borough']!='Not assigned']
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df.shape

(103, 3)